.evolvebutton {
  animation: glowuncommon 1s infinite alternate;
}

.resourcebar {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #353c51;
  margin-right: 25%;
  width: 50%;
}

.poke-encounter-card {
  border: solid;
  border-color: lightgray;
  border-radius: 2px;
  border-width: 1px;
  padding: 1px;
  margin-bottom: 1vh;
  align-content: center;
  transition: all 0.2s;
}

.poke-encounter-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.trainer-encounter-card {
  border: solid;
  border-color: lightgray;
  border-radius: 2px;
  border-width: 1px;
  transition: all 0.2s;
  margin: 1vh;
}

.trainer-encounter-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.cardimg {
  min-width: 600px;
  min-height: 150px;
}
.tile-selectable g polygon:hover {
  stroke: rgb(15, 173, 173);
  stroke-width: 2;
}

.tile-filler {
  opacity: 1;
}

.tile-selectable g polygon {
  stroke: #3f51b5;
  stroke-width: 0.2;
  transition: stroke-width 0.2s, stroke 0.2s;
}

.tile-selectable-under g polygon {
  stroke: #3f51b5;
  stroke-width: 0.2;
  transition: stroke-width 0.2s, stroke 0.2s;
}

.tile-unselectable g polygon {
  opacity: 0.4;
}

.tile-selected g polygon {
  stroke: rgb(17, 226, 226);
  stroke-width: 2;
}

.firstmon {
  border-radius: 5px;
  animation: glowfirstmon 1s infinite alternate;
}

.common {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.uncommon {
  border-radius: 5px;
  animation: glowuncommon 1s infinite alternate;
}

.rare {
  border-radius: 5px;
  animation: glowrare 1s infinite alternate;
}

.epic {
  border-radius: 5px;
  animation: glowepic 1s infinite alternate;
}

.legendary {
  border-radius: 5px;
  animation: glowlegendary 1s infinite alternate;
}

@keyframes glowfirstmon {
  from {
    box-shadow: 0 0 5px 2px #ff0000;
  }
  to {
    box-shadow: 0 0 5px 5px #ff0000;
  }
}

@keyframes glowuncommon {
  from {
    box-shadow: 0 0 5px 2px #38761d;
  }
  to {
    box-shadow: 0 0 5px 5px #38761d;
  }
}
@keyframes glowrare {
  from {
    box-shadow: 0 0 5px 2px #1155cc;
  }
  to {
    box-shadow: 0 0 5px 5px #1155cc;
  }
}
@keyframes glowepic {
  from {
    box-shadow: 0 0 5px 2px #674ea7;
  }
  to {
    box-shadow: 0 0 5px 5px #674ea7;
  }
}
@keyframes glowlegendary {
  from {
    box-shadow: 0 0 5px 2px #f1c232;
  }
  to {
    box-shadow: 0 0 5px 5px #f1c232;
  }
}

.megaevo {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 8s ease infinite;
  -z-animation: rainbow 8s ease infinite;
  -o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
